In [28]:
import pandas as pd
import numpy as np
with open('ass2.pickle', 'rb') as file:
    data = pd.read_pickle(file)

model that we can learn that we can use to clasifaide this data set are:
decision tree, random forest, linear model, knn, the regression that we convert to be a classification

first let analaiys this data:

In [44]:
traing = data['train']
dev = data['dev']
test = data['test']
print("The number of featuures the this data set is:", traing.shape[1]-1)
print("The number of traing sample of  is:", len(traing))
print("The number of Dev samples is: ", len(dev))
print("The number of test samples is:", len(test))
print("traing data")
print(traing)
print("dev data")
print(dev)
print("test data")
print(test)
nptraing = np.array(traing)
npdev = np.array(dev)
nptest = np.array(test)
totalMin = min(np.min(nptraing[:,:-1]), np.min(npdev[:,:-1]), np.min(nptest[:,:-1]))
totalMax = max(np.max(nptraing[:,:-1]), np.max(npdev[:,:-1]), np.max(nptest[:,:-1]))
print("The range of all the features is:", totalMin, "-", totalMax)
check = np.min(traing.target)
mintarget = min( np.min(traing.target),  np.min(dev.target),  np.min(test.target))
maxtarget = max( np.min(traing.target),  np.min(dev.target),  np.min(test.target))
print("The range of all the targets is:", totalMin, "-", totalMax)

The number of featuures the this data set is: 42
The number of traing sample of  is: 40533
The number of Dev samples is:  13512
The number of test samples is: 13512
traing data
       f0  f1  f2  f3  f4  f5  f6  f7  f8  f9  ...  f33  f34  f35  f36  f37  \
51905   1   0   0   0   0   0   2   1   2   2  ...    0    0    0    2    0
52612   0   0   0   0   0   0   2   1   0   0  ...    0    0    0    2    0
61699   2   1   2   1   1   0   2   2   0   0  ...    0    0    0    1    0
6291    0   0   0   0   0   0   0   0   0   0  ...    0    0    0    2    0
17484   0   0   0   0   0   0   1   1   2   0  ...    0    0    0    2    1
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...
9379    1   1   0   0   0   0   1   0   0   0  ...    0    0    0    2    0
40261   1   2   0   0   0   0   0   0   0   0  ...    0    0    0    1    2
23630   0   0   0   0   0   0   1   0   0   0  ...    0    0    0    2    2
7937    1   0   0   0   0   0   2   1   1   0  ...    0    0    0    0    0
63627   2   2   2   1   0   0   0   0   0   0  ...    0    0    0    1    0

       f38  f39  f40  f41  target
51905    0    0    0    0       2
52612    0    0    0    0       2
61699    0    0    0    0       2
6291     0    0    0    0       2
17484    2    0    0    0       2
...    ...  ...  ...  ...     ...
9379     0    0    0    0       2
40261    0    0    0    0       2
23630    0    0    0    0       1
7937     0    0    0    0       2
63627    0    0    0    0       0

[40533 rows x 43 columns]
dev data
       f0  f1  f2  f3  f4  f5  f6  f7  f8  f9  ...  f33  f34  f35  f36  f37  \
104     1   2   0   0   0   0   0   0   0   0  ...    0    0    0    0    0
3548    2   0   0   0   0   0   2   0   0   0  ...    0    0    0    0    0
11672   1   0   0   0   0   0   2   2   0   0  ...    0    0    0    2    1
58531   0   0   0   0   0   0   2   1   2   2  ...    0    0    0    0    0
14252   0   0   0   0   0   0   1   2   1   2  ...    0    0    0    0    0
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...
58394   0   0   0   0   0   0   2   1   1   2  ...    0    0    0    0    0
12558   0   0   0   0   0   0   1   0   0   0  ...    0    0    0    0    0
5837    0   0   0   0   0   0   0   0   0   0  ...    0    0    0    1    0
63542   2   2   1   1   0   0   0   0   0   0  ...    0    0    0    2    0
63298   2   1   2   2   1   0   0   0   0   0  ...    0    0    0    2    1

       f38  f39  f40  f41  target
104      0    0    0    0       2
3548     0    0    0    0       1
11672    0    0    0    0       2
58531    0    0    0    0       1
14252    0    0    0    0       2
...    ...  ...  ...  ...     ...
58394    0    0    0    0       0
12558    0    0    0    0       2
5837     0    0    0    0       0
63542    0    0    0    0       2
63298    0    0    0    0       0

[13512 rows x 43 columns]
test data
       f0  f1  f2  f3  f4  f5  f6  f7  f8  f9  ...  f33  f34  f35  f36  f37  \
62110   2   0   0   0   0   0   0   0   0   0  ...    0    0    0    0    0
15906   2   1   1   0   0   0   1   0   0   0  ...    0    0    0    0    0
23980   2   0   0   0   0   0   1   1   2   1  ...    0    0    0    0    0
1986    1   0   0   0   0   0   0   0   0   0  ...    0    0    0    0    0
53416   2   2   1   0   0   0   2   0   0   0  ...    0    0    0    1    0
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...
18778   1   2   2   0   0   0   0   0   0   0  ...    0    0    0    1    2
3855    2   2   1   0   0   0   2   0   0   0  ...    0    0    0    0    0
27291   1   0   0   0   0   0   0   0   0   0  ...    0    0    0    0    0
55631   2   0   0   0   0   0   2   1   2   0  ...    0    0    0    1    0
47729   2   0   0   0   0   0   2   1   0   0  ...    0    0    0    1    2

       f38  f39  f40  f41  target
62110    0    0    0    0       2
15906    0    0    0    0       0
23980    0    0    0    0       2
1986     0    0    0    0       2
53416    0    0    0    0       2
...    ...  ...  ...  ...     ...
18778    1    0    0    0       2
3855     0    0    0    0       2
27291    0    0    0    0       2
55631    0    0    0    0       2
47729    0    0    0    0       1

[13512 rows x 43 columns]
The range of all the features is: 0 - 2
The range of all the targets is: 0 - 2